# =========================
# ROS 2 工作空间自动生成文件
# =========================
/build/
/install/
/log/
/COLCON_IGNORE

# =========================
# 编辑器 / IDE 临时文件
# =========================
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# =========================
# C++ 编译中间文件
# =========================
*.o
*.so
*.bin
*.d
*.cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
cmake-build-debug/

# =========================
# Python 缓存
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# 日志 / 数据
# =========================
*.log
*.bag
*.db
*.sqlite